body {
    font-family: Arial, Helvetica, sans-serif;
}

button {
    cursor: pointer;
}

select{
    cursor: pointer;
}

.modalContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s;
}

.modalContainer.show {
    opacity: 1;
    pointer-events: auto;
}

.modal {
    background-color: white;
    border-radius: 6px;
    width: 350px;
    height: 200px;
    text-align: center;
    padding: 50px;
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.5);
}

.fieldSetLegend {
    margin: 0 auto;
}

.fieldSetMenu {
    border-radius: 5px;
}

.fieldSetResult {
    padding: 1%;
    border-radius: 5px;
    margin-bottom: 10px;
}

.titleResults {
    text-align: center;
}

.divResult {
    width: 99%;
    height: 200px;
    overflow: auto;
    resize: none;
    border-radius: 4px;
}

.divResult.synth {
    font-size: 24px;
}

.divResult.centerAlign {
    text-align: center;
}

.divResult.rightAlign {
    text-align: right;
}

label {
    pointer-events: none;
}

.divFileName {
    width: 100%;
    margin-left: 0 auto;
    margin-bottom: 8px;
    text-align: center;
}

.divAlign {
    width: 100%;
    margin-left: 0 auto;
    margin-bottom: 8px;
    text-align: center;
}

.fileName {
    text-align: center;
}

.buttonMenu {
    background-color: #f6f8fa;
    border: 1px solid;
    border-radius: 6px;
    border-color: rgba(0, 0, 0, 0.3);
    width: 50%;
    height: 30px;
    margin-left: 25%;
    transition: box-shadow 0.2s;
}

.buttonMenu:hover {
    box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.5);
}

.buttonAlign {
    background-color: #f6f8fa;
    border: 1px solid;
    border-radius: 6px;
    border-color: rgba(0, 0, 0, 0.3);
    width: 85px;
    height: 20px;
    transition: box-shadow 0.2s;
}

.buttonAlign:hover {
    box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.5);
}

.buttonModal {
    background-color: #f6f8fa;
    border: 1px solid;
    border-radius: 6px;
    border-color: rgba(0, 0, 0, 0.3);
    width: 50%;
    height: 30px;
    transition: box-shadow 0.2s;
}

.buttonModal:hover {
    box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.5);
}

.buttonStart {
    color: white;
    background-color: #2da44e;
    border: 1px solid;
    border-radius: 6px;
    border-color: #2a9047;
    width: 50%;
    height: 30px;
    margin-left: 25%;
    transition: box-shadow 0.2s;
}

.buttonStart:hover {
    box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.5);
}

.buttonClean {
    color: #cf222e;
    background-color: #f6f8fa;
    border: 1px solid;
    border-radius: 6px;
    border-color: rgba(0, 0, 0, 0.3);
    height: 30px;
    transition: color 0.2s, background-color 0.2s, box-shadow 0.2s;
}

.buttonClean:hover {
    color: white;
    background-color: #cf222e;
    box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.5);
}

.comboOp {
    text-align: center;
    background-color: #f6f8fa;
    border: 1px solid;
    border-radius: 6px;
    border-color: rgba(0, 0, 0, 0.3);
    width: 50%;
    height: 30px;
    margin-left: 25%;
    transition: box-shadow 0.2s;
}

.comboOp:hover {
    box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.5);
}